body{
    font-family: "Plus Jakarta Sans", sans-serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
}
.container{
    flex: 1 !important;
}  
/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++==
/* //navbar */
.navbar{
    height: 5rem;
    background-color: white; /*before bg is transparent color so use white bg */
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
/* footer */

  footer {
    clear: both; /* clear any floats */
    position: relative; /* relative positioning */
    bottom: 0; /* push the footer to the bottom */
    width: 100%; /* make the footer full-width */
    background-color: #f0f0f0; /* optional */
    padding: 10px; /* optional */
    text-align: center; /* optional */
  }

.f-info-links a{
    text-decoration: none;
    color: #222222; 
}
.f-info-links a:hover{
    text-decoration: underline;
}

.f-info{
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    flex-wrap: wrap;   /* doubt */
    justify-content: center;

}
.f-info-links, .f-info-socials, .f-info-brand{
    width: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;

}


.f-info-socials i{
    height: 1.2rem;
    margin-right: 1rem;
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/* cards */

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}
.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}
.card-body{
    padding: 0 !important;
}
.listing-link{
    text-decoration: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
/* card effect when we hover over image background c change to mid white*/
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/*++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++=
/* new.ejs pAGE*/
.add-btn{
    background-color: #fe424d !important;
    margin-bottom: 2rem;
    border: none !important;
}

/*edit +++++++++++++++++++++++++++++++++++++++*/
.edit-btn {
    background-color: #fe424d !important;
    margin-bottom: 2rem !important;
    border: none !important;
}

/*=+++++++++++++++++++++++++++++++++++++++++++++++++++++++++==
//show page */
.show-img{
    height: 30vh;
}
.btns{
    display: flex;
}